@charset "UTF-8";

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #fff;
}

.subtitle{
    font-size: 3.5rem;
    text-align: center;
}

/* ヘッダー */
header{
    height: 100px;
    position: fixed;
    z-index: 50;
    width: 100%;
    /* background-color: rgba(8, 30, 5, 0.55); */
}

.navbar-toggler{
    z-index: 99;
}

.header-title{
    font-size: 45px;
}

.header-item{
    font-size: 30px;
    margin-right: 10px;
}

.navbar-expand-lg{
    background-color: rgba(8, 30, 5, 0.55);
}

.navbar-toggler{
    background-color: #fff;
    color: #333
}

/* トップ */
.top{
    background-image: url(./pon-style-photos/マスクグループ\ 3.png);
    height: 750px;
    background-size: cover;
}

.top-container{
    position: relative;
    height: 750px;
}

.top-text{
    /* font-family: 'RocknRoll One', sans-serif; */
    position: absolute;
    text-shadow: 1px 1px 2px, 0 0 1em #333, 0 0 0.2em #333;
    top: 10rem;
    font-size: 6rem;
    /* margin-left: 5rem; */
}

/* アバウト */
.text-black{
    color: #333;
}

.pon{
    width:200px;
    height: 220px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 6rem;
}

.subsubtitle{
    font-size: 50px;
}

.about-text{
    font-size: 20px;
    line-height: 35px;
    font-family: sans-serif;
}

/* スキルズ */
.skills{
    background-color: #6CA159;
}

.progress-bar{
    background-color: rgba(8, 30, 5, 0.85);
    font-size: 30px;
}
/* フォト */
.photos{
    color: #333;
}

.carousel{
    width: 70%;
}

/* 問い合わせ */
.contact{
    /* background-image: url("./pon-style-photos/DSCN0092.JPG"); */
    background-size: cover;
    /* background-color: rgba(8, 30, 5, 1); */
    opacity:0.9;
    background-color:#6CA159;
}

/* .twitter{
    width: 200px;
    height:200px;
    /* background-color: #6CA159; */
    /* border-radius: 50%;
} */ 

.twitter-icon:hover{
    opacity: 1.5;
    background-color: #DBDBDB;
    transition: all  0.3s ease;
    
}

.fab{
    background-color: #fff;
    padding:40px;
    border-radius: 50%;
}

a{
    display: block;
}

.contact-text{
    font-family: sans-serif;
    /* font-size: 30px; */
    /* text-shadow: 1px 1px 2px, 0 0 1em #333, 0 0 0.2em #333; */
}

/* フッター */
footer{
    margin: 0;
    background-color: rgba(8, 30, 5, 0.85);
}

footer p{
    /* font-size: 30px; */
    text-align: center;
    margin-bottom: 0;
}

@media(max-width: 699px){

    /* トップ画像 */
    .top-text{
        font-size: 70px;
    }

    /* アバウト */
    .about{
        text-align: center;
    }

    .about-image{
        margin:0 10%;
    }

    .pon{
        margin: 10px 20%;
    }
}

@media(max-width: 699px){

}